:root {
  --primary-color-bg: hsl(0, 0%, 100%);
  --primary-color-bg-top: hsl(225, 100%, 98%);
  --card-color: hsl(227, 47%, 96%);
  --font-color-sm: hsl(228, 12%, 44%);
  --font-color-bg: hsl(230, 17%, 14%);
  --font-color-green: hsl(163, 72%, 41%);
  --font-color-red: hsl(356, 69%, 56%);
}

[data-theme=dark] {
  --primary-color-bg: hsl(230, 17%, 14%);
  --primary-color-bg-top: hsl(232, 19%, 15%);
  --card-color: hsl(228, 28%, 20%);
  --font-color-sm: hsl(228, 34%, 66%);
  --font-color-bg: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62%;
  color: var(--primary-color-bg);
  box-sizing: border-box;
}

body {
  background: linear-gradient(var(--primary-color-bg-top) 0%, var(--primary-color-bg-top) 25%, var(--primary-color-bg) 25%);
  background: var(--primary-color-bg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  height: 100vh;
  padding: 3rem 12rem 6rem 12rem;
  position: relative;
}
@media only screen and (max-width: 38.75em) {
  body {
    padding: 3rem 5rem 5rem 5rem;
  }
}

.container {
  margin-bottom: 4rem;
}

.bg-top {
  background: var(--primary-color-bg-top);
  position: absolute;
  top: 0;
  left: 0;
  height: 25%;
  width: 100%;
  z-index: -10;
}
@media only screen and (max-width: 38.75em) {
  .bg-top {
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 38.75em) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 38.75em) {
  .header__title {
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid var(--font-color-sm);
    width: 100%;
  }
}
.header__title h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--font-color-bg);
}
.header__title p {
  color: var(--font-color-sm);
  font-weight: 700;
}
.header__toggle {
  /*slider switch css */
}
.header__toggle .theme-switch-wrapper {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 38.75em) {
  .header__toggle .theme-switch-wrapper {
    justify-content: space-between;
  }
}
.header__toggle .theme-switch-wrapper p {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--font-color-bg);
}
.header__toggle .theme-switch {
  display: inline-block;
  height: 2.6rem;
  position: relative;
  width: 5.5rem;
}
@media only screen and (max-width: 38.75em) {
  .header__toggle .theme-switch {
    display: block;
    align-self: flex-end;
  }
}
.header__toggle .theme-switch input:checked + .round:before {
  background: var(--card-color);
}
.header__toggle .theme-switch input:checked + .slider {
  background: linear-gradient(to right, #378fe6, #3eda82);
}
.header__toggle .theme-switch input:checked + .slider:before {
  transform: translateX(-2.8rem);
}
.header__toggle .theme-switch input {
  display: none;
}
.header__toggle .theme-switch .slider {
  background: #aeb3cb;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.header__toggle .theme-switch .slider::before {
  background-color: var(--primary-color-bg);
  bottom: 0.22rem;
  content: "";
  height: 2.1rem;
  right: 0.3rem;
  position: absolute;
  transition: 0.4s;
  width: 2.1rem;
}
.header__toggle .theme-switch .slider.round {
  border-radius: 34px;
}
.header__toggle .theme-switch .slider.round:before {
  border-radius: 50%;
  transition: all 0.3s;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  margin-top: 4rem;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 38.75em) {
  .card {
    grid-template-columns: 1fr;
    margin-top: 3.5rem;
  }
}
.card-big {
  position: relative;
}
.card-big__change {
  color: var(--font-color-green);
  text-transform: capitalize;
}
.card-big__change img {
  transform: translateY(-50%);
}
.card-big__change--red {
  color: var(--font-color-red);
}
.card-big__followers {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--font-color-bg);
}
.card-big__followers-text {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  color: var(--font-color-sm);
}
.card-big__name {
  color: var(--font-color-sm);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}
.card-big__name-img {
  margin-right: 1rem;
  transform: translateY(10%);
}
.card-big__name-img img {
  width: 90%;
}
.card-big::before {
  content: "";
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.card > * {
  background-color: var(--card-color);
  border-radius: 0.4rem;
  text-align: center;
  padding: 2rem 3rem;
}
.card-big--fb {
  border-top: 0.4rem solid #198ff5;
}
.card-big--tw {
  border-top: 0.4rem solid #1ca0f2;
}
.card-big--yt {
  border-top: 0.4rem solid #c4032a;
}
.card-big--ig::before {
  background: linear-gradient(to right, #fdc468, #df4996);
}
.card-small {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem 0;
  align-items: center;
}
@media only screen and (max-width: 38.75em) {
  .card-small {
    height: 10rem;
  }
}
.card-small__text {
  justify-self: start;
  color: var(--font-color-sm);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2rem;
}
.card-small__icon {
  justify-self: end;
}
.card-small__icon img {
  width: 80%;
}
.card-small__num {
  justify-self: start;
  color: var(--font-color-bg);
  font-size: 2.3rem;
}
.card-small__change {
  justify-self: end;
}

.overview {
  color: var(--font-color-bg);
  margin-top: 4rem;
  font-weight: 400;
  font-size: 1.3rem;
}
.overview__text {
  margin: 0;
}

@media only screen and (max-width: 38.75em) {
  .theme-switch-wrapper {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 38.75em) {
  .theme-switch-wrapper label {
    transform: translateX(13rem);
  }
}

/*# sourceMappingURL=style.css.map */
